html
    body(style='alignItems: center; font-size: 14px; font-family: Poppins;')
        div(style='border-radius: 10px; background-color: #F8FAFC;height: 131px; width: 100%; display: flex; justify-content: center; align-items: center;')
            img(src='https://res.cloudinary.com/dvqz0kpht/image/upload/v1647620071/CB/cbdbanner_j9o4bm.png' style='height: 131px; width: 760px;')

        p Hello #{first_name} #{last_name},

        p We've received your request for payment

        p Payment Request ID: #{pid}
        p Payment Method: #{pm}
        p Payment Method Details: #{pm_deets}
        p Amount: #{amount}
        p Your Payment request will be processed in our next batch, you will receive another email as soon as we have an update!

        p Thanks, <br> Cashback Duniya

        div(style='border-radius: 10px; background-color: #F8FAFC;height: 120px; width: 100%; display: flex; justify-content: center; align-items: center;')
            p(style='margin: 55px; text-align:center; font-size: 12px; color: #B8B9B9; align-self: center;') © 2022 Cashback Duniya. All rights reserved.